.lista{
  margin: 0;
  padding: 0;
  list-style: none;
  a{
    border: 0;
  }

}
.redes{
  .lista-horizontal{
    list-style: none;
    color: #404040;
    padding: 0;

    li{
      margin: 0 10px;
    }
  }
}

.page__leftColumn{
  ul{
    padding: 0;
    list-style: none;
    li{
      display: flex;
      align-items: center;
      padding: 0.6rem;

      &:hover{
        background-color: #e2e3f3;
        text-decoration: underline;
        border-radius: 5px;
        color: #424db7;
        cursor: pointer;
      }
      p{
        margin: 0;
      }
      img{
        width: 1.5rem;
        margin-right: 0.5rem;
      }
    }
  }

  .otherCategories{
    h2{
      font-size: 16px;
      font-weight: 700;
      padding: 0.6rem;
    }
  }

  .redesDesktop{
    img{
      width: 1.5rem;
    }
  }

  .myTags{
    .myTags__title{

      h2{
        font-size: 1rem;
      }
    }
  }

  .thanks{
    background-color: #fafafa;
    border: 1px solid #ececec;
    border-radius: 5px;
    p{
      color: #404040;
      font-weight: 800;
    }
    h3{
      color: #3b49df;
      font-size: 18px;
      font-weight: 800;
      &:hover{
        cursor: pointer;
      }
    }
  }

  .foremShopCard{
    background-color: #fafafa;
    border: 1px solid #ececec;
    border-radius: 5px;
    img{
      height: 5rem;
      border-radius: 10px;
      object-fit: cover;
    }
    h5{
      color: #404040;
      font-weight: 700;
      font-size: 1.5rem;
    }

    .card-text{
      color: #3f4cdf;
      font-size: 1rem;
      font-weight: 700;
      &:hover{
        cursor: pointer;
      }
    }
  }
}