footer{
    font-family:sans-serif;
    color: grey;
    background:#e5e5e5;
    border: 1px solid lightgrey;
    
    font-size: 14px;

    p{  
        text-align: center;
        span{
            color: #3f4ddf;
        }

    }
    .logoContainer{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 1rem;
        img{
            width: 30px;
            height: 30px;
        }
        &:hover{
            background-color: #d4d5e5;
            border-radius: 5px;
        }
    }    
}