//Variables
$mobileBreakpoint: 767px;
$tabletBreakpoint: 1023px;
$font-sans-serif: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$grey-background: #f5f5f5;